/* Container styling */
.container {
    display: flex;
    height: 100vh;
    padding: 10px;
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #fff;
    border-radius: 30px;
}

/* Left side styling */
.left-side {
    width: 55%;
    padding: 50px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

#logo {
    width: 50%;
    height: auto;
}

/* Right side styling */
.right-side {
    width: 45%;
    padding: 10px;
    background-color: rgba(243, 241, 246, 0.855);
    border-radius: 30px;
}

#img {
    width: 700px;
    height: auto;
    margin-top: 60px;
    margin-left: -100px;
}

/* Form styling */
.form {
    width: 100%;
    padding: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

/* Global font settings */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Title styling */
#title {
    margin-top: -15px;
    font-size: 50px;
    text-align: center;
}

/* Invitation text styling */
#invitation {
    text-align: center;
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 40px;
}

/* Label styling */
label {
    font-size: 20px;
}

/* Input fields styling */
input[type="password"] {
    margin-top: 10px;
    width: 90%;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: rgba(243, 241, 246, 0.855);
}

/* Button styling */
.button_s {
    background-color: #630da9;
    color: #fff;
    margin-top: 10px;
    width: 94%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.button_s:hover {
    background-color: #0A4834;
}

/* Background styling */
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('https://img.freepik.com/free-vector/green-blue-gradient-blur-background_53876-105432.jpg');
}

/* Error message styling */
#error {
    font-size: 16px;
    color: red;
    text-align: center;
    margin-top: 20px;
}

/* Success message styling */
#success {
    font-size: 16px;
    color: green;
    text-align: center;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin: 20px;
    }

    .left-side {
        width: 100%;
        padding: 20px;
    }

    .right-side {
        width: 100%;
        margin-top: 20px;
    }

    #img {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
}