.topnav {
    overflow: hidden;
    margin-bottom: 40px;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('https://img.freepik.com/free-vector/green-blue-gradient-blur-background_53876-105432.jpg');
}

.container {
    width: 95%;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* Allows vertical scrolling if the content overflows */
    max-height: 90vh; 
}

box {
    padding: 30px 30px;
    background-color: white;
    display: flex;
    justify-content: center;

}

.topnav a {
    float: right;
    color: rgba(101, 97, 105, 0.855);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    text-decoration: underline;
    color: #000;
}

.topnav a.active {
    color: #000;
    text-decoration: underline;
}

* {
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-right: 5px;
}

.search-wrapper {
    margin-bottom: 50px;
}

#search {
    border-radius: 40px;
    padding: 20px;
    width: 50%;
    margin-left: 30%;
    border: 1px solid #ccc;
}

.search-wrapper input[type="search"] {
    width: 50%;
    padding: 10px;
    font-size: 16px;
}

.search-wrapper input[type="search"]:focus{
    border-color: #630da9;
    box-shadow: 0 0 5px #6968c5;
}

.search-icon {
    padding-top: 10px;
    font-size: 20px;
    color: rgba(154, 150, 157, 0.855);
}

.services-header {
    border: 1px solid rgba(154, 150, 157, 0.855);
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 30px;
    border-radius: 40px;
}

#category-title {
    font-size: 80px;
    margin-top: 30px;
}

#navigation {
    font-size: 30px;
    margin-bottom: 30px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    cursor: pointer;
    margin: 15px 0;
    margin-right: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    width: 80%;
    border-radius: 40px;
    
}

.sidebar li:hover {
    background-color: #0A4834;
    color: #fff;
}

.container {
    display: flex;
}

.sidebar {
    width: 25%;
    background-color: #fff;
    padding-top: 0px;
    border: 1px solid #ccc;
    border-radius: 40px;
}

.services-grid {
    width: 75%;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.service-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(800px, 2fr));
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

.prices {
    background-color: #106945;
    color: #fff;
    padding: 5px 370px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

h4 {
    font-size: 20px;
    margin-bottom: -10px;
    color: #000;
    text-decoration: none;
}

h5 {
    font-size: 15px;
    color: rgba(101, 97, 105, 0.855);
    text-decoration: none;
}

.service-card:hover {
    border: 1px solid #0A4834;
    border-radius: 40px;
}

.service-icon {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 0px;
}
button {
    background-color: #630da9;
    color: #fff;
    padding: 18px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

